body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333;
}

.ancho50{
    width: 50%; /* WIDTH: bloque */
    background-color: aqua;
    border: #333 solid 2px;
    /* height: 200px;*/
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 100px;
    opacity: 0.5; /* OPACITY: opacidad */
}

p {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;

    text-align: justify; /* TEXT-ALIGN: alineación del texto */

    margin: 20px 40px 20px 40px;
}

.padding {
    width: 80%;
    padding: 20px 40px 20px 40px;
    background-color: #f0f0f0;
    border: #333 solid 2px;
    margin-bottom: 40px;
    box-shadow: #333 5px 5px 10px; /* BOX-SHADOW: sombra del cuadrado */
}
